<footer class="site-footer" style="background: #111; padding: 40px 0; margin-top: 60px; border-top: 1px solid #333;">
  <div class="container">
    <div class="row" style="display: flex; flex-wrap: wrap; align-items: center; justify-content: space-between;">
      
      <div class="col" style="flex: 1; min-width: 250px; text-align: left; color: #fff;">
        <h5 style="margin: 0; font-size: 18px; font-weight: bold;">Mediatec.</h5>
        <p style="margin: 5px 0 0; font-size: 12px; color: #888;">&copy; 2025 Mediatec Africa. Strategy for growth.</p>
      </div>

      <div class="col" style="flex: 0 0 auto; text-align: right;">
        <a href="https://landing.mailerlite.com/webforms/landing/YOUR_ID" target="_blank" style="background: #d15d2a; color: #fff; text-decoration: none; padding: 10px 20px; border-radius: 4px; font-size: 13px; font-weight: bold;">
          Subscribe for Updates
        </a>
      </div>

    </div>
  </div>
</footer>
    
    

    
    

    

      
        
        
      

      
        
        
      

      

            
            
            
            
            
            
      

      

      
        
        
         
        
        
      

        
        
        
        
        
        
      

       

        
        
        
        
        
        
        
       


      
        
        
        
        
  



  
        
        
        
      


      
    
    
    
    
    
    
    
  

  
        
        
        
        
        
      

      
        
        
        
        
        
      

      
        
        
        
        
        
      

       

        
        
        
        
       

       
        
        
        
        
      

      
        
        
        
        
        
        
        
       

    

    


      


      

      
      

      

      





    

      
    <div id="mlb2-34828069" class="ml-form-embedContainer ml-subscribe-form ml-subscribe-form-34828069">
      <div class="ml-form-align-center ">
        <div class="ml-form-embedWrapper embedForm">

          
          <div class="ml-form-embedHeader">
            
              <img src="https://storage.mlcdn.com/account_image/1991886/R7DxuQWKBQq3PDO89I077STPb8MJH8qNGdKW6adi.png" border="0" style="display: block;">
              
              <style>
                @media only screen and (max-width: 400px){
                  .ml-form-embedHeader { display: none !important; }
                }
              </style>

            
          </div>

          <div class="ml-form-embedBody ml-form-embedBodyDefault row-form">

            <div class="ml-form-embedContent" style=" ">
              
                <h4>Newsletter</h4>
                
                  <p>Signup for news and special offers!</p>
                
              
            </div>

            <form class="ml-block-form" action="https://assets.mailerlite.com/jsonp/1991886/forms/174197471882250165/subscribe" data-code="" method="post" target="_blank">
              <div class="ml-form-formContent">
                

                  
                  <div class="ml-form-fieldRow ml-last-item">
                    <div class="ml-field-group ml-field-email ml-validate-email ml-validate-required">

                      


                      <!-- input -->
                      <input aria-label="email" aria-required="true" type="email" class="form-control" data-inputmask="" name="fields[email]" placeholder="Email" autocomplete="email">
                      <!-- /input -->

                      <!-- textarea -->
                      
                      <!-- /textarea -->

                      <!-- select -->
                      
                      <!-- /select -->

                      <!-- checkboxes -->
            
            <!-- /checkboxes -->

                      <!-- radio -->
                      
                      <!-- /radio -->

                      <!-- countries -->
                      
                      <!-- /countries -->





                    </div>
                  </div>
                
              </div>

              

              <!-- Privacy policy -->
              <div class="ml-form-embedPermissions" style="">
                <div class="ml-form-embedPermissionsContent default privacy-policy">

                  

                  
                          <p>You can unsubscribe anytime. For more details, review our Privacy Policy.</p>
                  

                  
                </div>
              </div>
              <!-- /Privacy policy -->

              <div class="ml-form-embedPermissions" style="">
                <div class="ml-form-embedPermissionsContent default">

                  

                    
                      
                    

                  <h4>Marketing Permissions</h4>

                  <p>The information you provide on this form will only be used to provide you with updates and personalized marketing. Your privacy is important to us! Please let us know how you would like to keep in touch:</p>

                  <div class="ml-form-embedPermissionsOptions">

                    <div class="ml-form-embedPermissionsOptionsCheckbox">
                      <label>
                        <input type="checkbox" name="gdpr[]" value="Email" xp-if="gdpr.title">
                        <div class="label-description">Email</div>
                      </label>
                      <div class="description" xp-if="gdpr.description">We will send you occasional emails about promotions, new products and important updates to keep you in the loop.</div>
                    </div><div class="ml-form-embedPermissionsOptionsCheckbox">
                      <label>
                        <input type="checkbox" name="gdpr[]" value="Customized online advertising" xp-if="gdpr.title">
                        <div class="label-description">Customized online advertising</div>
                      </label>
                      <div class="description" xp-if="gdpr.description">We will use your information to show you ads that are more relevant to you to improve your online experience.</div>
                    </div>

                  </div>

                  
                </div>
                
                  <div class="ml-form-embedMailerLite-GDPR">
                    
                      <p>
                        By clicking below to submit this form, you acknowledge that the information you provide will be processed in accordance with our Privacy Policy.
                      </p>
                    
                  </div>
                
              </div>

              

              <div class="ml-form-checkboxRow ml-validate-required">
                
                  <label class="checkbox">
                    <input type="checkbox">
                    <div class="label-description">
                      <p>Opt in to receive news and updates.</p>
                    </div>
                  </label>
                
              </div>






              
              <input type="hidden" name="ml-submit" value="1">

              <div class="ml-form-embedSubmit">
                
                  <button type="submit" class="primary">Subscribe</button>
                
                <button disabled="disabled" style="display: none;" type="button" class="loading">
                  <div class="ml-form-embedSubmitLoad"></div>
                  <span class="sr-only">Loading...</span>
                </button>
              </div>

              
              <input type="hidden" name="anticsrf" value="true">
            </form>
          </div>

          <div class="ml-form-successBody row-success" style="display: none">

            <div class="ml-form-successContent">
              
                <h4>Thank you!</h4>
                
                  <p>You have successfully joined our subscriber list.</p>
                
              
            </div>

          </div>
        </div>
      </div>
    </div>

  

  
  
  <script>
    function ml_webform_success_34828069() {
      var $ = ml_jQuery || jQuery;
      $('.ml-subscribe-form-34828069 .row-success').show();
      $('.ml-subscribe-form-34828069 .row-form').hide();
    }
      </script>
  
  
      <script src="https://groot.mailerlite.com/js/w/webforms.min.js?v176e10baa5e7ed80d35ae235be3d5024" type="text/javascript"></script>
        <script>
            fetch("https://assets.mailerlite.com/jsonp/1991886/forms/174197471882250165/takel")
        </script>
